$prefix:'md-circleMarker';
.#{$prefix}-container{
    min-width: 170px;
    .title{
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        border-bottom:1px solid #dedbdb;
        width: 100%;
        margin-bottom: 5px;
        padding: 5px;
    }
    .info-container{
        border: 1px solid #e9e9e9;
        border-radius: 3px;
    }
    .info-row{
       border-bottom: 1px solid #e9e9e9;
    }
    .info-row:last-child{
       border-bottom: none;
    }
    .info-row--lable{
        display: inline-block;
        min-width: 95px;
        padding: 3px;;
    }
    .info-row--span{
        display: inline-block;
        // width: 60%;
        border-left: 1px solid #e9e9e9;
        margin-left: 10px;
        padding: 3px;
    }
}
/*
训练营期间，超图大学工作人员创新的工作方式与积极的工作态度着实让人震撼。整体的训练营工作安排紧密有序，时间把握的恰到好处，给新入职的员工隐含的培训到执行力的强大。
期间印象最深刻的是宋总和邵俊总的精彩报告。还记得在开营第一天，作为新入职的员工就有幸听到了金牌讲师宋总的报告，宋总幽默诙谐、简洁又不失内涵的讲课方式让人感受到一个集团总裁的魅力，在轻松的听课过程中深刻了解到超图的发展史与未来的企业规划。还有邵俊总用讲故事的方式深刻地讲述了他的人生经历，风趣的语言和精彩的故事让人不知不觉的就进入了第一视角，现在回想起来记忆犹新。
时光荏苒，短暂的一周就这么过去了。“每天进步一点点，超出领导期望一点点”这两个一点点和“工匠精神”将是我以后职业人生道路中的座右铭！感谢超图集团，感谢超图大学。
*/